.popup-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.popup-gallery a img {
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.popup-gallery a:nth-child(1) {
  grid-row: span 3;
}

.popup-gallery a:nth-child(2) {
  grid-row: span 2;
}

.popup-gallery a:nth-child(3) {
  grid-row: span 3;
}

.popup-gallery a:nth-child(4) {
  grid-row: span 2;
}

.popup-gallery a:nth-child(5) {
  grid-row: span 1;
}

.popup-gallery a:nth-child(6) {
  grid-row: span 1;
}

.popup-gallery a:nth-child(7) {
  grid-row: span 2;
}

.popup-gallery a:nth-child(8) {
  grid-row: span 1;
}

.popup-gallery a:nth-child(9) {
  grid-row: span 2;
}

.popup-gallery a:nth-child(10) {
  grid-row: span 2;
}
